
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6c6c6;
  }
  
  nav {
    background-color: #7d7575;
    padding: 10px;
    text-align: center;
    color: rgb(255, 246, 246);
    font-size: 30px;
    display: inline-flex;
    border-radius: 2cm;
    margin: 20px 9cm;
    text-align: center;
  }
  
  nav .f1 {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 24px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.993);
    border-radius: 10px;
    text-align: center;
    background-image: url('imge.jpg'); /* Replace with the correct path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    color: white;
  }
  
  .inp {
    display: block;
    margin: 10px 0;
  }
  
  .inp input {
    display: none;
  }
  
  .inp span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #002fff;
    color: rgb(255, 253, 253);
    border-radius: 1.5cm;
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: #000000 ;
  }
  
  .inp span:hover {
    background-color: #0056b3;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0762ff;
    color: white;
    border: none;
    border-radius: 1.5cm;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #output {
    margin-top: 20px;
    padding: 10px;
    background-color: #0a66c2;
    border-radius: 2cm;
    border: 1px solid #ced4da;
    word-wrap: break-word;
  }
  
  
  f1 {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
  
  f3 {
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
